<nav>
  <ul>
    <li>
      <button routerLink="/usuario/inicio" routerLinkActive="active-option">
        Inicio
      </button>
    </li>
    <li>
      <button routerLink="/usuario/equipo" routerLinkActive="active-option">
        Consultar Equipos
      </button>
    </li>
    <li>
      <button routerLink="/usuario/jugador" routerLinkActive="active-option">
        Consultar Jugadores
      </button>
    </li>
    <li>
      <button routerLink="/usuario/galeria" routerLinkActive="active-option">
        Galería
      </button>
    </li>
  </ul>
</nav>
