<section class="hero">
    <div class="hero-container">
      <h1 class="hero-title">Bienvenidos a la Escuela de Fútbol</h1>
      <p class="hero-subtitle">Formando futuros campeones desde hace más de 10 años</p>    
    </div>
  </section>
  
  
  <div class="formMain">
  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="about-title">¿Qué es la Escuela de Fútbol?</h2>
          <p class="about-description">La Escuela de Fútbol es un lugar donde los niños y jóvenes pueden aprender y mejorar sus habilidades futbolísticas mientras se divierten y hacen amigos. Nuestro objetivo es formar futuros campeones, no solo en el campo de juego, sino también en la vida.</p>
        </div>
        <div class="col-md-6">
          <h2 class="about-title">Nuestra Filosofía</h2>
          <p class="about-description">Creemos que el fútbol es mucho más que un deporte. Es una herramienta poderosa para enseñar valores como el trabajo en equipo, el respeto, la disciplina y la perseverancia. En la Escuela de Fútbol, no solo enseñamos habilidades futbolísticas, sino también valores que ayudarán a nuestros alumnos a tener éxito en la vida.</p>
        </div>
      </div>
    </div>
  </section>
</div>

  <div class="formMain2">
  <section class="gallery">
    <h2 class="gallery-title">Nuestras Instalaciones</h2>
    <div class="gallery-container">
      <div class="gallery-item">
        <img src="assets/images/b.jpg" alt="Instalación 1">
      </div>
      <div class="gallery-item">
        <img src="assets/images/b.jpg" alt="Instalación 2">
      </div>
      <div class="gallery-item">
        <img src="assets/images/b.jpg" alt="Instalación 3">
      </div>
      <div class="gallery-item">
        <img src="assets/images/b.jpg" alt="Instalación 4">
      </div>
      <div class="gallery-item">
        <img src="assets/images/b.jpg" alt="Instalación 5">
      </div>
      <div class="gallery-item">
        <img src="assets/images/b.jpg" alt="Instalación 6">
      </div>
    </div>
  </section>
</div>
  
