<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 class="footer-title">Contacto</h4>
        <div class="footer-info-container">
          <div class="footer-info">
            <fa-icon [icon]="phoneIcon"></fa-icon>
            <span>Teléfono: 1234-555-6789</span>
          </div>
          <div class="footer-info">
            <fa-icon [icon]="envelopeIcon"></fa-icon>
            <span>Correo electrónico: asofutbol@gmail.com</span>
          </div>
          <div class="footer-info">
            <fa-icon [icon]="mapMarkerIcon"></fa-icon>
            <span>Dirección: Calle 123, Valledupar-Cesar</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h4 class="footer-title">Patrocinadores</h4>
        <div class="sponsor-logos">
          <img src="assets/images/sponsor1.png" alt="Sponsor 1" />
          <img src="assets/images/sponsor2.png" alt="Sponsor 2" />
          <img src="assets/images/sponsor3.png" alt="Sponsor 3" />
        </div>
      </div>
    </div>
  </div>
</footer>
