<p>equipo-a works!</p>
<div *ngIf="lista">

    <!-- Mostrar lista de equipos -->
    <h2>Mis Equipos</h2>
    <!-- Botón Agregar -->
    <button type="button" class="add-button" (click)="lista = false; form = true">
        Agregar equipo
    </button>

    <ul class="equipos">
        <li *ngFor="let equipo of equipos">
            <a>
                <span class="badge">{{equipo.id}}</span> {{equipo.nombre_equipo}}, {{equipo.categoria}}, {{equipo.capitan}},  {{equipo.entrenador}}
            </a>
            <button type="button" class="delete" title="delete equipo" (click)="delete(equipo)">Eliminar</button>
            <button type="button" class="edit" title="edit equipo"
                (click)="lista = false; editForm = true; editarEquipo(equipo)">Editar</button>
        </li>
    </ul>
</div>

<div>


    <!-- Formulario Agregar equipo -->
    <div *ngIf="form">
        <label for="new-equipo">Equipo name: </label>
        <input id="new-equipo" #equipoName />

        <label for="new-categoria">Categoría: </label>
        <input id="new-categoria" #equipoCategoria />

        <label for="new-capitan">Capitan: </label>
        <input id="new-capitan" #equipoCapitan />

        <label for="new-entrenador">Entrenador: </label>
        <input id="new-entrenador" #equipoEntrenador/>
 <!-- 
        <label for="new-imagen">Imagen: </label>
  <input id="new-imagen" type="file" (change)="onFileSelected($event)" />
-->

  <button type="button" class="add-button"
          (click)="add(equipoName.value,  equipoCategoria.value, equipoCapitan.value, equipoEntrenador.value); equipoName.value=''; 
          equipoCategoria.value=''; equipoCapitan.value=''; equipoEntrenador.value=''; lista = true; form = false">
    Agregar
  </button>

        <!-- Botón Volver -->
        <button type="button" (click)="lista = true; form = false">Volver</button>
    </div>
</div>

<div>
    <!-- Formulario Agregar partido -->
    <div *ngIf="formP && equipoSeleccionado">
        <label for="new-partido">Gales Favor: </label>
        <input id="new-partido" #golesFavor />

        <label for="new-partido">Estado: </label>
        <select id="new-partido" #estado>
            <option value="portero">Ganado</option>
            <option value="defensa">Perdido</option>
            <option value="centrocampista">Empate</option>
        </select>

        <button type="button" class="add-button"
            (click)="addP(equipoSeleccionado.id, golesFavor.value, estado.value); golesFavor.value=''; editForm = true; formP = false">
            Agregar
        </button>

        <!-- Botón Volver -->
        <button type="button" (click)="editForm = true; formP = false">Volver</button>
    </div>
</div>


<!-- Formulario Editar Equipo -->
<div *ngIf="editForm && equipoSeleccionado">
    <label for="edit-equipo">Equipo name: </label>
    <input id="edit-equipo" [(ngModel)]="equipoSeleccionado.nombre_equipo" />

    <label for="edit-categoria">Categoría: </label>
    <input id="edit-categoria" [(ngModel)]="equipoSeleccionado.categoria" />

    <label for="edit-capitan">Capitan: </label>
    <input id="edit-capitan" [(ngModel)]="equipoSeleccionado.capitan" />

    <label for="edit-entrenador">Entrenador: </label>
    <input id="edit-entrenador" [(ngModel)]="equipoSeleccionado.entrenador" />

    <button type="button" class="add-button" (click)="edit(equipoSeleccionado); editForm = false; lista = true">
        Guardar
    </button>

    <!-- Botón Volver -->
    <button type="button" (click)="editForm = false; lista = true">Volver</button>

    <!-- Mostrar lista de jugadores de cada equipo -->
    <h2>Jugadores</h2>
    <!-- Botón Agregar jugadores -->
    <button type="button" class="add-button" title="add jugador" [routerLink]="['/administrador/jugador']">Agregar
        jugador</button>


    <ul class="jugadores">

        <li *ngFor="let jugador of jugadores">
            <a>
                <span class="badge">{{jugador.id}}</span> {{jugador.nombre}}, {{jugador.nombre_equipo}}, {{jugador.edad}}, {{jugador.posicion}} 
            </a>

            <button type="button" class="edit" title="edit jugador"
                [routerLink]="['/administrador/jugador', jugador.id]">Editar</button>
        </li>
    </ul>



    <h2>Partidos</h2>
    <!-- Botón Agregar partidos -->
    <button type="button" class="add-button" (click)="editForm = false; formP = true">
        Agregar partido
    </button>

    <ul class="partidos">
        <li *ngFor="let partido of partidos">
            <a>
                <span class="badge">{{partido.id}}</span> {{partido.id_equipo}}, {{partido.goles_favor}}, {{partido.estado}}
            </a>

            <button type="button" class="delete" title="delete partido" (click)="deleteP(partido)">Eliminar</button>
            <button type="button" class="edit" title="edit equipo"
                (click)="editForm = false; editFormP = true; editarPartido(partido)">Editar</button>
        </li>
    </ul>


</div>

<!-- Formulario Editar Partido -->
<div *ngIf="editFormP && partidoSeleccionado && equipoSeleccionado">
    <label for="edit-partido">Goles favor: </label>
    <input id="edit-partido" [(ngModel)]="partidoSeleccionado.goles_favor" />

    <button type="button" class="add-button"
        (click)="editP(partidoSeleccionado); editFormP = false; editForm = true; getpartidosEquipo(equipoSeleccionado.id)">
        Guardar
    </button>

    <!-- Botón Volver -->
    <button type="button" (click)="editFormP = false; editForm = true">Volver</button>


</div>